         

/* ######################################################################################### */



/*Text body*/

body {

}





/* ######################################################################################### */
                                    /*-- Nav Bar Styles -- */


                                    .navbar-default {
                                        border: 5;
                                        font-weight: bold;
                                        padding: -4px;
                                        
                                    }
                                    .navbar{
                                      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
                                    }
                                    /*-- Search Bar -- */

                                    .center{
                                        margin-left: 200%;
                                    }

/* ######################################################################################### */



                                    /* HOME PAGE */


                                    .homebody{
                                      margin-top: 10%;
                                      margin-left: 25%;

                                    }



                                    .panel-default{
                                      padding-bottom: 3%;
                                      width: 56%;
                                      
                                    }

                                    .imagepadding{
                                        padding-bottom: 70px;
                                    }


/* ######################################################################################### */

                                    /* EXPLORE PAGE */


                                    .explorebody{
                                      margin-top: 15%;

                                    }


                                    .explorepics {
                                      column-count: 3;
                                      column-gap: 10px;
                                      top: 10;


                                    }

                                    .picspace{
                                        
                                      padding: 20px;
                                      padding-bottom: 70px;

                                    }
                                    


/* ######################################################################################### */
                                      .uploadbody{
                                      margin-top: 15%;
                                      width: "40";
                                      height: "40";
                                      

                                      
                                    }





/* ######################################################################################### */

                                    /* Like & Comment Section */

                                    .likesect{
                                      margin-top: 1%;
                                      margin-left: 1%;
                                    }




/* ######################################################################################### */
                                    /* Login In & Registration Form */

                                    /* Login */

                                    .logincont{
                                      display: flex;
                                      justify-content: center;
                                      margin-top: 4%;
                                      
                                    }

                                    .loginform{
                                      width: 70%;

                                    }

                                    .playstorebtn{
                                      display: flex;
                                      justify-content: center;
                                      margin-left: -45%;
                                      
                                    }

                                    /* Registration */
                                    .registform{
                                        font-size: 9px;
                                        width: 50%;
                                        margin-left: auto;
                                        margin-right: auto;
                                    }
                                    .regplaystorebtn{
                                        display: flex;
                                        justify-content: center;
                                        margin-left: -45%;
                                        margin-left: auto;
                                        margin-right: 22%;
                                    }

                                    

                                    /* Collapse Login In & Registration Form */

/* ######################################################################################### */




                                                           /* Small devices (tablets, 768px and up) */
                                                                                    /* MEDIA QRYS */

/* Large devices (large desktops, 1200px and up) */
@media (max-width:1200px ) { }




/* Medium devices (desktops, 992px and up) */
@media (max-width:992px ) {
    .registform{
        font-size: 9px;
        width: 40%;
        }
    
 }
    




/* landscape phones and smaller */
       @media (max-width:768px ) {
           
    .registform{
        font-size: 9px;
        width: 170%;
        margin-left: auto;
        margin-right: auto;
        }
    
    .regplaystorebtn{
        margin-left: 15%;
    }
    .register{
        margin-left: 10%;
    }
}         




    /* Smallest screens */
        @media (max-width:374px ){

    .registform{
        font-size: 9px;
        width: 170%;
        }
    .regplaystorebtn{
        display: none;
    }
    .register{
        margin-left: 0%;
    }

        }