{% extends 'display/base.html' %} 
{% load static%} 
{% load bootstrap3 %} 
{% block content %} 
{{block.super}}

{% if request.user.is_authenticated %}

{% else %}
<p>You must be authenticated</p>
{% endif %}
<div class="homebody">
    <div class="container">




        <!-- SECTION 1 -->

        <!-- USED TO STYLE PICTURE-BODYSIZE IN HOME-PAGE  -->
        <div class="w3-card-6" style="width:56%">

            <div class="container">
                {% if all_images %} {% for collins in all_images %}

                <div class="imagepadding">

                    <!-- BootStrap Class For adding Border arround picture -->
                    <div class="panel panel-primary">

                        <!-- SECTION 1 PROFILE & user name -->

                        <!-- Profile Picture and User name for account -->
                        
                        <p class="usernamehome-dp">
                            <img src="{% static 'images/pic3.jpg' %}" class="circlehome-dp" alt="signuplogo ">
                         {% if all_users %} {% for user in all_users %}
                            <strong> "{{user.user}}" </strong>
                        {% endfor %}{% else %}
                        <strong>grammer</strong>

                        {% endif %}
                        </p>
                       
                        <!-- SECTION 2 (IMAGE) -->
                        <!-- POSTED IMAGE -->
                        <a href="{{ collins.image }}" data-lightbox="gallery">
                            <img src="{{ collins.image.url }}" class="img-responsive" style="width:100%;margin-left: 0%;margin-top:15px; ">
                        </a>

                        <!--Like & Comment Section -->
                        <div class="container">
                            <div class='likesect'>

                                <span class="like-row">
                                    {% if liked %}
                                    <img class"likedhrt" src="{% static 'images/liked.png' %}" alt="liked picture"class="img-responsive"> {% else %}
                                    <img class="likehrt" src="{% static 'images/liked.png' %}" alt="not likedpicture" class="img-responsive"> {% endif %}
                                    <img class="commenthrt" id='comment-icon' src="../../static/images/comment.png"class="img-responsive" alt=" commentImage">
                                    <img class="savehrt" src="{% static 'images/unsaved.png' %}" alt="save picture">
                                        
                                    </p>
                                </span>
                                <p><strong>5 likes</strong> </p>
                        <!-- Caption Section -->
                        {% if all_users %} {% for user in all_users %}
                        <strong> "{{user.user}}" </strong>
                        {% endfor %}{% else %}
                        <p><strong>grammer</strong> {{collins.image_caption}}</p>
                        
                        {% endif %} 

                        <div class='commentsection'>
                            <input type='text' id='cmnt' placeholder='Add a comment...'>
                            <span class='dot02'></span>
                        </div>
                            </div>
                        </div>

                    </div>


                </div>
                {% endfor %} {% else%}
                <h3>You have no images</h3>

                {% endif %}

            </div>


        </div>
    </div>
</div>
{% endblock %}