{% extends 'display/base.html' %} 
{% load static%} 
{% load bootstrap3 %} 
{% block content %} 
{{block.super}}

{% if request.user.is_authenticated %}

{% else %}
<p>You must be authenticated</p>
{% endif %}
<div class="homebody">
    <div class="container">




        <!-- SECTION 1 -->

        <!-- USED TO STYLE PICTURE-BODYSIZE IN HOME-PAGE  -->
        <div class="w3-card-6" style="width:56%">

            <div class="container">
                {% if all_images %} {% for collins in all_images %}

                <div class="imagepadding">

                    <!-- BootStrap Class For adding Border arround picture -->
                    <div class="panel panel-primary" style="border-color:rgb(216, 209, 209);">

                        <!-- SECTION 1 PROFILE & user name -->

                        <!-- Profile Picture and User name for account -->
                        <p class="usernamehome-dp">
                            <img src="{% static 'images/pic3.jpg' %}" class="circlehome-dp" alt="signuplogo ">
                            <strong> grammer </strong>
                        </p>

                        <!-- SECTION 2 (IMAGE) -->
                        <!-- POSTED IMAGE -->
                        <a href="{{ collins.image }}" data-lightbox="gallery">
                            <img src="{{ collins.image.url }}" class="img-responsive" style="width:100%;margin-left: 0%;margin-top:15px; ">
                            <h3> {{collins.image_caption}} </h3>

                        </a>

                        <!--Like & Comment Section -->
                        <div class="container">
                            <div class='likesect'>

                                <span class="like-row">
                                    {% if liked %}
                                    <img src="{% static 'images/liked.png' %}" style="height: 20px;width: 20px;" alt="liked picture"> {% else %}
                                    <img src="{% static 'images/liked.png' %}" style="height: 29px;width: 29px;" alt="not likedpicture"> {% endif %}
                                    <img id='comment-icon' src="../../static/images/comment.png" style="height: 32px;width: 29px; margin-left: 5%;margin-top: -30px;"
                                        class="img-responsive" alt="Image">
                                    </p>
                                </span>

                            </div>
                        </div>

                    </div>


                </div>
                {% endfor %} {% else%}
                <h3>You have no images</h3>

                {% endif %}

            </div>


        </div>
    </div>
</div>
{% endblock %}