{% extends 'display/base.html' %} 
{% load bootstrap3 %} 
{% block content %} 
{{block.super}}

{% extends 'instaplate/base.html' %} {% load bootstrap3 %} {% block content %} {{block.super}}
<div class="homebody">
    <div class="container">
        <h1>NOTIFICATION</h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, asperiores temporibus porro cumque eos at soluta quidem
        tempora aspernatur culpa. Dignissimos similique fuga assumenda pariatur ea odit. Possimus, quis provident! Lorem
        ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, quia. Quae est doloremque et consequatur omnis, numquam
        reiciendis inventore nostrum veniam porro ducimus enim ratione. Accusamus harum doloremque nisi vel.

        <h1>orem ipsum dolor sit amet consectetur, adipisicing elit. Dolore officiis facilis, fugit unde debitis molestias eum?
            At vel accusamus deleniti ut aliquam consequatur enim? Laborum laboriosam nemo tempora nihil saepe!</h1>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi tenetur, error quod consectetur nobis nam earum autem architecto
        delectus debitis blanditiis aliquid at a repellendus laudantium officia dolore maiores velit. Lorem, ipsum dolor
        sit amet consectetur adipisicing elit. Sit minus quia impedit officiis id dignissimos labore ad fuga deleniti! Natus,
        commodi nesciunt! Nisi dolorum, error illo debitis earum ea optio? Lorem ipsum dolor, sit amet consectetur adipisicing
        elit. Voluptatum veritatis iste fuga tempore, architecto expedita a! Voluptatem tempore delectus ea adipisci quaerat,
        odio at neque eveniet quod rerum eligendi sapiente. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad,
        tempore atque! Doloremque fugiat ducimus esse, est eaque illum minus pariatur? Ipsam magnam, delectus architecto
        nihil totam quidem possimus nobis reiciendis.
    </div>
</div>
{% endblock %}

{% endblock %}