{%extends "registration/base.html"%} {% load bootstrap3 %} {% block content %}
<div class="container">
    <div class="row">

        <!-- Output to Display error in Signup -->
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {% if form.errors %}
            <p> Some Information Might be Incorrect </p>
            {% endif %}
            <!--Collapse Output to Display error in Signup -->

            <!-- BootStrap class to add border to Signup form -->
            <div class="panel panel-default">

                <!-- Instagram image at the top of Signup form -->
                <div class="panel-heading">
                    <img src="../../static/images/instalogo.svg" alt="signuplogo " style="width:330px; height:80px ">
                </div>
                <!--Collaplse Instagram image at the top of Signup form -->

                <div class="panel-body">

                    <form action="/accounts/register/" method="post">
                        {% csrf_token %} {% bootstrap_form form %}

                        <!-- Sign Up Button -->
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-sm" value="Sign Up">
                        </div>

                        <div class="col-xs-10"></div>
                        <h2 class="text-center">
                            <small>OR</small>
                        </h2>
                        <div class="col-xs-2"></div>

                        <!-- Signup Button Next to (Do you have an account)! -->
                        <div class="form-group">
                            <p class="_g9ean pull-left">Have an account?</p>
                            <a href="/accounts/login/" class="btn btn-primary btn-sm pull-right">Sign In</a>
                        </div>
                        <!--Collapse Signup Button! -->

                        <input type="hidden" name="next" value="{{next}}">

                    </form>

                </div>

            </div>

        </div>

        <!-- Play Store and Apple store Images With well text to put them sidebyside! -->
        <div class="well text-center">
            <div class="col-md-12">

                <div class="col-md-6">
                    <div class="panel-heading">

                        <img src="../../static/images/playstore.svg" alt="signuplogo " style="width:160px; height:50px ">

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel-heading">

                        <img src="../../static/images/applestore.jpeg" alt="signuplogo " style="width:160px; height:50px ">

                    </div>
                </div>

            </div>
        </div>
        <!--Collapse! Play Store and Apple store Images With well text to put them sidebyside! -->

    </div>
</div>

{% endblock %}