{%extends "registration/base.html"%} {% load bootstrap3 %} {% block content %}
<div class="container">
    <div class="register">


<!-- Output to Display error in Signup -->

<div class="registform">
    {% if form.errors %}
    <p> Some Information Might be Incorrect </p>
    {% endif %}
    <!--Collapse Output to Display error in Signup -->

    <!-- BootStrap class to add border to Signup form -->
    <div class="panel panel-default">

        <!-- Instagram image at the top of Signup form -->

        <img src="../../static/images/instalogowhite.png" alt="signuplogo " style="width:190px; height:70px;margin: 5px auto; display: block;">

        <!--Collaplse Instagram image at the top of Signup form -->

        <div class="panel-body">

            <form action="/accounts/register/" method="post">
                {% csrf_token %} {% bootstrap_form form %}

                <!-- Sign Up Button -->
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-sm" value="Sign Up">
                </div>

                <div class="col-xs-10"></div>
                <h2 class="text-center">
                    <small>OR</small>
                </h2>
                <div class="col-xs-2"></div>
                <!-- SignIN Button Next to (Do you have an account)! -->
                <div class="panel-heading">
                    <p class="_g9ean pull-left">Have an account?</p>
                    <a href="/accounts/login/" class="btn btn-primary btn-sm pull-right">Sign In</a>
                </div>
                <!--Collapse SignIN Button! -->
                

                <input type="hidden" name="next" value="{{next}}">

            </form>

        </div>

    </div>

</div>



<!-- Play Store and Apple store Images With well text to put them sidebyside! -->
<div class="regplaystorebtn">


    <div class="googlebtn">

        <a href="https://play.google.com/store/search?q=instagram">
            <img src="../../static/images/playstore.svg" alt="signuplogo " style="width:150px; height:40px ">
        </a>

    </div>

    <div class="applebtn">

        <a href="https://www.apple.com/us/search/instagram?src=itunes_serp">
            <img src="../../static/images/applestore.jpeg" alt="signuplogo " style="width:150px; height:40px ">
        </a>

    </div>

</div>
<!--Collapse! Play Store and Apple store Images With well text to put them sidebyside! -->

    </div>
</div>

{% endblock %}